/** CSS STYLE **/
/** Variables **/
:root {
    --white: #fff;
    --transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --transparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.h1, .h2, .h3 {
    font-family: Neucha, Arial, sans-serif;
    line-height: 1.2em;
    position: relative;
    z-index: 2;
}

.h1 {
    font-size: 72px;
}

.h2 {
    font-size: 60px;
}

.h3 {
    font-size: 34px;
}

.content {
    width: 1110px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}

.main-bg {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--brown);
    background-image: url('../images/background.png');
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

/** HEADER **/
.header {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header__title {
    position: relative;
    z-index: 200;
}

.header__image {
    position: absolute;
    top: 35px;
    left: 300px;
    z-index: 100;
    height: 525px;
}

.button--primary {
    display: inline-block;
    margin-top: 35px;
    padding: 12px 24px;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    background: var(--main);
    text-decoration: none;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.text--primary {
    color: var(--main);
}

.two-column {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.two-column div {
    width: 50%;
    margin-right: 30px;
}

.two-column div:last-of-type {
    margin-right: 0;
}

.two-column.main {
    flex-direction: row;
}

.two-column.revert {
    flex-direction: row-reverse;
}

.text--main {
    margin-top: 150px;
}

.title--center {
    text-align: center;
}

.what-is-it .title {
    margin-bottom: 30px;
}

.video {
    margin: 0 auto;
    max-width: 920px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.dark-section {
    margin-top: -150px;
    background: var(--main-dark);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card,
.card-title {
    width: 350px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 24px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--dark);
}

.card-title {
    background: transparent;
}

.card .reason-title {
    margin-top: 16px;
    margin-bottom: 4px;
}

.card .description {
    margin: 0;
}

.card .number {
    font-size: 64px;
}

.text--white {
    color: var(--white);
}

.card:hover {
    background: var(--main);
    color: var(--white);
}

.card:hover .reason-title {
    color: var(--white);
}

.broken .subtitle {
    color: var(--transparent-dark);
    margin-bottom: 8px;
    font-family: Neucha, Arial, sans-serif;
    font-size: 24px;
}

.broken .title {
    margin-bottom: 24px;
}

.broken .text {
    margin-left: 30px;
}

.broken .description .title {
    padding: 4px 8px;
    background: var(--brown);
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
}

.broken .content {
    padding-bottom: 0;
}

.broken .description {
    padding-bottom: 100px;
}

.broken img {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.broken.revert::before {
    opacity: 0.8;
}

.broken.revert,
.broken.revert .subtitle {
    color: var(--white);
}

.broken.revert .description .title {
    color: var(--main-dark);
    background: var(--white)
}
